#footer
  p
  | Web APP Powered by 
  a(href='https://expressjs.com/') Express 
  | web framework in 
  img#nodejs-image(src='./images/nodejs.png', alt='Node.js')
  br
  | mailto: 
  a(href='mailto:anish.13dey@gmail.com/') developer